*{
    box-sizing: border-box;   
    font-family:arial;
}
.faculty-list {
    width: 220px;
    height: 460px;
    background-color:#333;
    border:2px solid #000;
    overflow-x:hidden;
    overflow-y:scroll;
    float:left;
    display:inline-block;
}
.faculty-list ul {
    list-style:none;
    margin:0px;
    padding:0px;
}
.faculty-list ul li {
    list-style:none;
    margin:0px;
    padding:0px;
    height:65px;
    color:#fff;
    border:3px solid #000;
    margin:5px 0px;
    padding:2px;
}
.faculty-list ul li:hover {
    background-color:#555;
}
.faculty-list ul li.active {
    background-color:#777;
}
.faculty-slideshow {
    display:inline-block;
    border:3px solid #000;
}
.defaultSlideshow {
    height:454px;
    overflow:hidden;
}
.slideshow-items {
    width:600px;
    height:400px;
    overflow:hidden;
}
.slideshow-items ul {
    list-style:none;
    padding:0px;
    margin:0px;
    display:relative;
}
.slideshow-items ul li {
    list-style:none;
    float:left;
    display:inline-block;
    display:none;
}
.slideshow-items ul li.active {
    display:inline-block;
}
.slideshow-items ul li.arrow-left {
    width:40px;
    height:40px;
    background-image: url('/img/arrow-left.png');
    float:left;
    position:absolute;
    top:200px;
    display:inline-block;
    z-index:999;
}
.slideshow-items ul li.arrow-right {
    width:40px;
    height:40px;
    background-image: url('/img/arrow-right.png');
    float:left;
    position:absolute;
    top:200px;
    left:791px;
    display:inline-block;
    z-index:999;
}
.slideshow-thumbs {
    height:57px;
    width:600px;
    float:left;
    display:inline-block;
    background-color:#333;
    text-align:center;
}
.slideshow-thumbs ul {
    list-style:none;
    margin:15px 0px;
    padding:0px;
    display:inline-block;
}
.slideshow-thumbs ul li {
    list-style:none;
    display:inline-block;
    margin: 0px 2px;
    border:2px solid #666;
}
.slideshow-thumbs ul li.selected {
    border:2px solid #fff;
}
.slideshow-thumbs ul li img {
    margin:0px; 
    padding:0px;
}

