<table>
    <tr>
        <td>
            <img src="<%= image %>" alt="Image of <%= name %>" />
        </td>
        <td>
            <%= name %><br />
            <%= position %>
        </td>
    </tr>
</table>
